@page
@model SangaghakRazorEndPoint.Areas.Admin.CreateCategoryModel
@{
}
<!DOCTYPE html>
<html lang="fa" dir="rtl" data-menu-size="sm-hover">

<head>
    <!-- Title Meta -->
    <meta charset="utf-8" />
    <title>ایجاد دسته | لارکن قالب مدیریتی</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A fully responsive premium admin dashboard template" />
    <meta name="author" content="Techzaa" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- App favicon -->
    <link rel="shortcut icon" href="assets/images/favicon.ico">

    <link rel="stylesheet" href="assets/libs/choices.js/public/assets/styles/choices.min.css">
    <link rel="stylesheet" href="assets/css/app.css">
    <link rel="stylesheet" href="assets/css/icons.css">
    <link rel="stylesheet" href="assets/css/fontiran.min.css">
    <script src="assets/js/config.js"></script>

</head>





@*     <script src="assets/js/app.js"></script>
    <script src="assets/js/layout.js"></script>
    <script src="assets/libs/dropzone/min/dropzone.min.js"></script>
    <script src='assets/js/pages/ecommerce-product-details.js'></script> *@


</html>