@page
@model SangaghakRazorEndPoint.Areas.Admin.Users.LoginUserModel
@{
}
@using SangaghakRazorEndPoint
@namespace SangaghakRazorEndPoint.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

            <div class="row h-100">
                <div class="col-xxl-7">
                    <div class="row justify-content-center h-100">
                        <div class="col-lg-6 py-lg-5">
                            <div class="d-flex flex-column h-100 justify-content-center">

                                <h2 class="fw-bold fs-24">ورود</h2>

                                <p class="text-muted mt-1 mb-4">آدرس ایمیل و کلمه عبور خود را وارد کنید.</p>

                                <div class="mb-5">
                                    <form method="post" action="" class="authentication-form">

                                        <div class="mb-3">

                                            <label class="form-label" for="Username">نام کاربری</label>
                                            <input asp-for="@Model.Username" type="text" id="Username" name="Username"
                                                   class="form-control" placeholder="نام کاربری خود را وارد کنید">
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" for="example-password">کلمه عبور</label>
                                            <input asp-for="@Model.Password" type="password" id="example-password" class="form-control"
                                                   placeholder="کلمه عبور خود را وارد کنید" name="password" value="password">
                                        </div>
                                        <div class="mb-3">
                                            <div class="form-check">
                                                <input asp-for="@Model.RememberMe" type="checkbox" class="form-check-input" id="checkbox-signin">
                                                <label class="form-check-label" for="checkbox-signin">مرا به خاطر بسپار</label>
                                            </div>
                                        </div>

                                        <div class="mb-1 text-center d-grid">
                                            <button class="btn btn-soft-primary" type="submit">ورود</button>
                                        </div>
                                    </form>
                                    <p class="text-danger text-center">
                                        آیا حساب کاربری ندارید؟ <a asp-page="UserRegister"
                                                                   class="text-dark fw-bold ms-1">ثبت نام کنید</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xxl-5 d-none d-xxl-flex">
                        <div class="card h-100 mb-0 overflow-hidden">
                            <div class="d-flex flex-column h-100">
                                <img src="/images/small/img-10.jpg" alt="" class="w-100 h-100">
                            </div>
                        </div>
                    </div>
                </div>
            </div>