@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="HTML5,CSS3,HTML,Template,multi-page,Zoben - Job Board HTML Template">
    <meta name="description" content="Zoben - Job Board HTML Template">
    <meta name="author" content="Barat Hadian">

    <link rel="stylesheet" href="~/MainTemplate/css/bootstrap.rtl.min.css">

    <link rel="stylesheet" href="~/MainTemplate/css/animate.min.css">

    <link rel="stylesheet" href="~/MainTemplate/fonts/remixicon.css">

    <link rel="stylesheet" href="~/MainTemplate/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/MainTemplate/css/owl.theme.default.min.css">

    <link rel="stylesheet" href="~/MainTemplate/css/metismenu.min.css">

    <link rel="stylesheet" href="~/MainTemplate/css/simplebar.min.css">

    <link rel="stylesheet" href="~/MainTemplate/css/dropzone.min.css">

    <link rel="stylesheet" href="~/MainTemplate/css/magnific-popup.min.css">

    <link rel="stylesheet" href="~/MainTemplate/css/odometer.min.css">

    <link rel="stylesheet" href="~/MainTemplate/css/meanmenu.min.css">

    <link rel="stylesheet" href="~/MainTemplate/css/style.css">

    <link rel="stylesheet" href="~/MainTemplate/css/responsive.css">

    <link rel="stylesheet" href="~/MainTemplate/css/theme-dark.css">

    <link rel="stylesheet" href="~/MainTemplate/css/rtl.css">

    <title>Zoben - قالب HTML زوبن , پوسته سایت آگهی و کاریابی</title>

    <link rel="icon" type="image/png" href="~/MainTemplate/images/favicon.png">
</head>
<body>

    <div class="preloader">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="spinner"></div>
            </div>
        </div>
    </div>


    <div class="navbar-area">
        <div class="mobile-responsive-nav">
            <div class="container-fluid">
                <div class="mobile-responsive-menu">
                    <div class="logo">
                        <a href="index.html">
                            <img src="~/MainTemplate/images/logo.png" class="logo-one" alt="logo"><img src="~/MainTemplate/images/logo-2.png" class="logo-two" alt="Logo">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="desktop-nav desktop-nav-one nav-area">
            <div class="container-fluid">
                <nav class="navbar navbar-expand-md navbar-light ">
                    <a class="navbar-brand" href="index.html">
                        <img src="~/MainTemplate/images/logo.png" class="logo-one" alt="logo"><img src="~/MainTemplate/images/logo-2.png" class="logo-two" alt="Logo">
                    </a>
                    <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a href="#" class="nav-link active">
                                    خانه
                                    <i class="ri-arrow-down-s-line"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a href="index.html" class="nav-link">
                                            صفحه اصلی - 1
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="index-2.html" class="nav-link">
                                            صفحه اصلی - 2
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="index-3.html" class="nav-link active">
                                            صفحه اصلی - 3
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    شغل ها
                                    <i class="ri-arrow-down-s-line"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a href="job-listing.html" class="nav-link">فهرست مشاغل</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="post-job.html" class="nav-link">ارسال آگهی شغلی</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="job-details.html" class="nav-link">جزئیات مشاغل</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    کارفرمایان
                                    <i class="ri-arrow-down-s-line"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a href="employers-listing.html" class="nav-link">
                                            لیست کارفرمایان
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="employers-details.html" class="nav-link">
                                            جزئیات کارفرمایان
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="dashboard.html" class="nav-link">
                                            داشبورد کارفرمایان
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    داوطلبان
                                    <i class="ri-arrow-down-s-line"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a href="candidates-listing.html" class="nav-link">
                                            فهرست داوطلبان
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="candidates-details.html" class="nav-link">
                                            جزئیات داوطلبان
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="candidates-dashboard.html" class="nav-link">
                                            داشبورد داوطلبان
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    وبلاگ
                                    <i class="ri-arrow-down-s-line"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a href="blog-1.html" class="nav-link">
                                            وبلاگ شبکه ای
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="blog-2.html" class="nav-link">
                                            وبلاگ سایدبار - 1
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="blog-3.html" class="nav-link">
                                            وبلاگ سایدبار - 2
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="blog-details.html" class="nav-link">
                                            جزئیات وبلاگ
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    صفحات
                                    <i class="ri-arrow-down-s-line"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a href="about.html" class="nav-link">
                                            درباره ما
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="contact.html" class="nav-link">
                                            تماس با ما
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="testimonials.html" class="nav-link">
                                            بازخورد مشتریان
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="freelancer.html" class="nav-link">
                                            فریلنسر
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="dashboard-invoice.html" class="nav-link">
                                            صورتحساب ها
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#" class="nav-link">
                                            شرکت ها
                                            <i class="ri-arrow-down-s-line"></i>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li class="nav-item">
                                                <a href="company.html" class="nav-link">
                                                    فهرست شرکت ها
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="company-details.html" class="nav-link">
                                                    جزئیات شرکت
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="search-job.html" class="nav-link">
                                                    جستجوی شغل
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="nav-item">
                                        <a href="pricing.html" class="nav-link">
                                            پلن قیمت گذاری
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="pricing.html" class="nav-link">
                                            پلن قیمت گذاری
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="faq.html" class="nav-link">
                                            سوالات متداول
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="log-in-register.html" class="nav-link">
                                            ورود / ثبت نام
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="forgot-password.html" class="nav-link">
                                            فراموشی گذرواژه
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="terms-condition.html" class="nav-link">
                                            قوانین و ضوابط
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="privacy-policy.html" class="nav-link">
                                            حریم خصوصی
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="404.html" class="nav-link">
                                            صفحه 404
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="coming-soon.html" class="nav-link">
                                            صفحه به زودی
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <div class="others-options d-flex align-items-center">
                            <div class="optional-item">
                                <a href="log-in-register.html" class="default-btn two border-radius-5">ورود / ثبت نام <i class="ri-user-3-line"></i></a>
                            </div>
                            <div class="optional-item">
                                <a href="post-job.html" class="default-btn border-radius-5">ارسال آگهی <i class="ri-briefcase-2-line"></i></a>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <div class="side-nav-responsive">
            <div class="container-max">
                <div class="dot-menu">
                    <div class="circle-inner">
                        <div class="circle circle-one"></div>
                        <div class="circle circle-two"></div>
                        <div class="circle circle-three"></div>
                    </div>
                </div>
                <div class="container">
                    <div class="side-nav-inner">
                        <div class="side-nav justify-content-center align-items-center">
                            <div class="side-nav-item">
                                <a href="log-in-register.html" class="default-btn two">
                                    ورود / ثبت نام <i class="ri-user-3-line"></i>
                                </a>
                            </div>
                            <div class="side-nav-item">
                                <a href="post-job.html" class="default-btn">
                                    ارسال آگهی <i class="ri-briefcase-2-line"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="banner-area-three">
        <div class="container">
            <div class="banner-content-three">
                <h1 class="wow fadeInUp" data-wow-delay="000ms" data-wow-duration="1000ms">در جستجوی شغل؟ در جستجوی <b>بهترین شغل</b> نزدیکی شما.</h1>
                <div class="banner-form-three wow fadeInUp" data-wow-delay="100ms" data-wow-duration="1000ms">
                    <form>
                        <div class="row">
                            <div class="col-lg-4 col-md-4">
                                <div class="form-group">
                                    <input class="form-control" type="text" placeholder="کلمات کلیدی / عنوان شغلی">
                                    <i class="ri-search-line"></i>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class="form-group">
                                    <input class="form-control" type="text" placeholder="شهر یا کد پستی">
                                    <i class="ri-map-pin-line"></i>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <button type="submit" class="submit-btn border-radius-5">
                                    جستجوی شغل
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="popular-searches-tag wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1000ms">
                    <span class="title">جستجوهای محبوب : </span>
                    <a href="job-listing.html">طراح</a>،
                    <a href="job-listing.html">توسعه دهنده</a>،
                    <a href="job-listing.html">وب</a>،
                    <a href="job-listing.html">آیفون</a>،
                    <a href="job-listing.html">موسس</a>،
                    <a href="job-listing.html">کارشناس</a>،
                    <a href="job-listing.html">مهندس</a>
                </div>
                <div class="banner-three-other">
                    <div class="other-content1 wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1000ms">
                        <img src="~/MainTemplate/images/home-three/user2.jpg" alt="Images">
                    </div>
                    <div class="other-content2 wow fadeInUp" data-wow-delay="400ms" data-wow-duration="1000ms">
                        <img src="~/MainTemplate/images/home-three/home-three-icon2.png" alt="Images">
                    </div>
                    <div class="other-content3 wow fadeInDown" data-wow-delay="500ms" data-wow-duration="1000ms">
                        <img src="~/MainTemplate/images/home-three/user1.jpg" alt="Images">
                    </div>
                    <div class="other-content4 wow fadeInDown" data-wow-delay="600ms" data-wow-duration="1000ms">
                        <img src="~/MainTemplate/images/home-three/home-three-shape1.jpg" alt="Images">
                    </div>
                    <div class="other-content5 wow fadeInUp" data-wow-delay="700ms" data-wow-duration="1000ms">
                        <img src="~/MainTemplate/images/home-three/home-three-icon4.png" alt="Images">
                    </div>
                    <div class="other-content6 wow fadeInDown" data-wow-delay="800ms" data-wow-duration="1000ms">
                        <img src="~/MainTemplate/images/home-three/home-three-icon1.png" alt="Images">
                    </div>
                    <div class="other-content7 wow fadeInDown" data-wow-delay="900ms" data-wow-duration="1000ms">
                        <img src="~/MainTemplate/images/home-three/home-three-shape2.jpg" alt="Images">
                    </div>
                    <div class="other-content8 wow fadeInDown" data-wow-delay="1000ms" data-wow-duration="1000ms">
                        <img src="~/MainTemplate/images/home-three/user4.jpg" alt="Images">
                    </div>
                    <div class="other-content9 wow fadeInDown" data-wow-delay="1100ms" data-wow-duration="1000ms">
                        <img src="~/MainTemplate/images/home-three/user3.jpg" alt="Images">
                        <div class="other-into-content">
                            <img src="~/MainTemplate/images/home-three/home-three-shape1.jpg" alt="Images">
                        </div>
                    </div>
                    <div class="other-content10 wow fadeInDown" data-wow-delay="1200ms" data-wow-duration="1000ms">
                        <img src="~/MainTemplate/images/home-three/home-three-icon3.png" alt="Images">
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="browse-jobs-area-two pt-100 pb-70">
        <div class="container">
            <div class="section-title text-center">
                <h2>مرور مشاغل بر اساس تخصص ها</h2>
                <div class="bar m-auto"></div>
                <p class="m-auto">144 شغل زنده - 20 شغل امروز اضافه شد.</p>
            </div>
            <div class="row pt-45">
                <div class="col-lg-3 col-6">
                    <div class="browse-jobs-item">
                        <i class="ri-computer-line jobs-card-bg"></i>
                        <h3><a href="job-details.html">حسابداری</a></h3>
                        <p>( 22 موقعیت باز )</p>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <div class="browse-jobs-item">
                        <i class="ri-bus-2-line jobs-card-bg2"></i>
                        <h3><a href="job-details.html">حمل و نقل</a></h3>
                        <p>( 43 موقعیت باز )</p>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <div class="browse-jobs-item">
                        <i class="ri-flashlight-line jobs-card-bg3"></i>
                        <h3><a href="job-details.html">مدیر پروژه</a></h3>
                        <p>( 35 موقعیت باز )</p>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <div class="browse-jobs-item">
                        <i class="ri-building-2-line jobs-card-bg4"></i>
                        <h3><a href="job-details.html">ساخت و ساز</a></h3>
                        <p>( 90 موقعیت باز )</p>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <div class="browse-jobs-item">
                        <i class="ri-cloud-line jobs-card-bg5"></i>
                        <h3><a href="job-details.html">مشاغل خدمات دیجیتال</a></h3>
                        <p>( 40 موقعیت باز )</p>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <div class="browse-jobs-item">
                        <i class="ri-group-line jobs-card-bg6"></i>
                        <h3><a href="job-details.html">منابع انسانی</a></h3>
                        <p>( 8 موقعیت باز )</p>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <div class="browse-jobs-item">
                        <i class="ri-restaurant-line jobs-card-bg7"></i>
                        <h3><a href="job-details.html">مشاغل رستوران</a></h3>
                        <p>( 56 موقعیت باز )</p>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <div class="browse-jobs-item">
                        <i class="ri-pie-chart-line jobs-card-bg8"></i>
                        <h3><a href="job-details.html">بازاریابی و سئو</a></h3>
                        <p>( 33 موقعیت باز )</p>
                    </div>
                </div>
                <div class="col-lg-12 text-center">
                    <div class="browse-btn">
                        <a href="job-listing.html"> همه دسته ها را مرور کنید <i class="ri-arrow-left-s-line"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="job-post-area pt-100 pb-70">
        <div class="container">
            <div class="section-title text-center">
                <h2>شغل اخیر ارسال شده</h2>
                <div class="bar m-auto"></div>
                <p class="m-auto">ما نظرات کاربران خود را جمع‌آوری می‌کنیم تا بتوانید نظر صادقانه‌ای در مورد اینکه تجربه با وب‌سایت ما واقعاً چگونه است، دریافت کنید!</p>
            </div>
            <div class="row pt-45">
                <div class="col-lg-12">
                    <div class="job-post-form">
                        <form>
                            <div class="row">
                                <div class="col-lg-4 col-md-4">
                                    <div class="form-group">
                                        <input class="form-control" type="text" placeholder="کلمات کلیدی / عنوان شغلی">
                                        <i class="ri-search-line"></i>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4">
                                    <div class="form-group">
                                        <input class="form-control" type="text" placeholder="شهر یا کد پستی">
                                        <i class="ri-map-pin-line"></i>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4">
                                    <div class="form-group select-group">
                                        <select class="form-select form-control">
                                            <option data-display='Choose A Category'>یک دسته را انتخاب کنید</option>
                                            <option value="1">طراحی سایت</option>
                                            <option value="2">توسعه وب</option>
                                            <option value="2">توسعه دهنده</option>
                                            <option value="2">آژانس خلاق</option>
                                            <option value="3">مهندسی</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-12">
                                    <button type="submit" class="submit-btn">
                                        شغل پیدا کنید
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="job-post-card job-post-card-ml">
                        <div class="job-post-img">
                            <a href="job-details.html">
                                <img src="~/MainTemplate/images/recent-job/recent-job4.jpg" alt="Images">
                            </a>
                        </div>
                        <h3><a href="job-details.html">طراح محصول</a></h3>
                        <div class="content">
                            <div class="content-item">
                                <ul class="content-list">
                                    <li><i class="ri-briefcase-line"></i> طراحی</li>
                                    <li><i class="ri-map-pin-line"></i> ایران استان تهران میدان آزادی</li>
                                    <li><i class="ri-time-line"></i> ارسالی 5 روز پیش</li>
                                </ul>
                                <span>120 تا 130 تومان <b> / هفتگی</b></span>
                            </div>
                            <ul class="content-list2">
                                <li class="time">تمام وقت</li>
                                <li class="freelance">آزاد</li>
                                <li class="urgent">فوری</li>
                            </ul>
                        </div>
                        <button class="bookmark-btn"><i class="ri-bookmark-line"></i></button>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="job-post-card job-post-card-ml">
                        <div class="job-post-img">
                            <a href="job-details.html">
                                <img src="~/MainTemplate/images/recent-job/recent-job10.jpg" alt="Images">
                            </a>
                        </div>
                        <h3><a href="job-details.html">مدیر مالی و سلامت </a></h3>
                        <div class="content">
                            <div class="content-item">
                                <ul class="content-list">
                                    <li><i class="ri-briefcase-line"></i> طراحی</li>
                                    <li><i class="ri-map-pin-line"></i> ایران استان تهران میدان آزادی</li>
                                    <li><i class="ri-time-line"></i> ارسالی 5 روز پیش</li>
                                </ul>
                                <span>120 تا 130 تومان <b> / هفتگی</b></span>
                            </div>
                            <ul class="content-list2">
                                <li class="time">تمام وقت</li>
                                <li class="freelance">آزاد</li>
                                <li class="urgent">فوری</li>
                            </ul>
                        </div>
                        <button class="bookmark-btn"><i class="ri-bookmark-line"></i></button>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="job-post-card job-post-card-ml">
                        <div class="job-post-img">
                            <a href="job-details.html">
                                <img src="~/MainTemplate/images/recent-job/recent-job11.jpg" alt="Images">
                            </a>
                        </div>
                        <h3><a href="job-details.html">حسابدار دفتر کل</a></h3>
                        <div class="content">
                            <div class="content-item">
                                <ul class="content-list">
                                    <li><i class="ri-briefcase-line"></i> طراحی</li>
                                    <li><i class="ri-map-pin-line"></i> ایران استان تهران میدان آزادی</li>
                                    <li><i class="ri-time-line"></i> ارسالی 5 روز پیش</li>
                                </ul>
                                <span>120 تا 130 تومان <b> / هفتگی</b></span>
                            </div>
                            <ul class="content-list2">
                                <li class="time">تمام وقت</li>
                                <li class="freelance">آزاد</li>
                                <li class="urgent">فوری</li>
                            </ul>
                        </div>
                        <button class="bookmark-btn"><i class="ri-bookmark-line"></i></button>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="job-post-card job-post-card-ml">
                        <div class="job-post-img">
                            <a href="job-details.html">
                                <img src="~/MainTemplate/images/recent-job/recent-job12.jpg" alt="Images">
                            </a>
                        </div>
                        <h3><a href="job-details.html">مدیر بازاریابی گروه</a></h3>
                        <div class="content">
                            <div class="content-item">
                                <ul class="content-list">
                                    <li><i class="ri-briefcase-line"></i> طراحی</li>
                                    <li><i class="ri-map-pin-line"></i> ایران استان تهران میدان آزادی</li>
                                    <li><i class="ri-time-line"></i> ارسالی 5 روز پیش</li>
                                </ul>
                                <span>120 تا 130 تومان <b> / هفتگی</b></span>
                            </div>
                            <ul class="content-list2">
                                <li class="time">تمام وقت</li>
                                <li class="freelance">آزاد</li>
                                <li class="urgent">فوری</li>
                            </ul>
                        </div>
                        <button class="bookmark-btn"><i class="ri-bookmark-line"></i></button>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="job-post-card job-post-card-ml">
                        <div class="job-post-img">
                            <a href="job-details.html">
                                <img src="~/MainTemplate/images/recent-job/recent-job5.jpg" alt="Images">
                            </a>
                        </div>
                        <h3><a href="job-details.html">توسعه اندروید</a></h3>
                        <div class="content">
                            <div class="content-item">
                                <ul class="content-list">
                                    <li><i class="ri-briefcase-line"></i> طراحی</li>
                                    <li><i class="ri-map-pin-line"></i> ایران استان تهران میدان آزادی</li>
                                    <li><i class="ri-time-line"></i> ارسالی 5 روز پیش</li>
                                </ul>
                                <span>50 تا 60 تومان <b> / هفتگی</b></span>
                            </div>
                            <ul class="content-list2">
                                <li class="time">تمام وقت</li>
                                <li class="freelance">آزاد</li>
                                <li class="urgent">فوری</li>
                            </ul>
                        </div>
                        <button class="bookmark-btn"><i class="ri-bookmark-line"></i></button>
                    </div>
                </div>
                <div class="col-lg-12 text-center">
                    <div class="browse-btn">
                        <a href="job-listing.html"> همه پست های شغلی را مرور کنید <i class="ri-arrow-left-s-line"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="testimonials-area pt-100 pb-100">
        <div class="container">
            <div class="section-title text-center">
                <h2>نظرات کاربران ما</h2>
                <div class="bar m-auto"></div>
                <p class="m-auto">ما نظرات کاربران خود را جمع‌آوری می‌کنیم تا بتوانید نظر صادقانه‌ای در مورد اینکه تجربه با وب‌سایت ما واقعاً چگونه است، دریافت کنید!</p>
            </div>
            <div class="testimonials-slider owl-carousel owl-theme pt-45">
                <div class="testimonials-item">
                    <div class="content">
                        <div class="content-img">
                            <img src="~/MainTemplate/images/testimonials/testimonials-img1.jpg" alt="Images">
                            <div class="line1"></div>
                            <div class="line2"></div>
                        </div>
                        <h3>توماس آبدین</h3>
                        <span>مدیر شبکه</span>
                    </div>
                    <P>ما نظرات کاربران خود را جمع‌آوری می‌کنیم تا بتوانید نظری صادقانه در مورد تجربه واقعی وب‌سایت ما داشته باشید. ما نظرات کاربران خود را جمع‌آوری می‌کنیم، بنابراین می‌توانید نظر صادقانه‌ای در مورد تجربه اینجا لورم ایپسوم دریافت کنید.</P>
                    <div class="rating">
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                    </div>
                </div>
                <div class="testimonials-item">
                    <div class="content">
                        <div class="content-img">
                            <img src="~/MainTemplate/images/testimonials/testimonials-img2.jpg" alt="Images">
                            <div class="line1"></div>
                            <div class="line2"></div>
                        </div>
                        <h3>توماس آبدین</h3>
                        <span>مدیر شبکه</span>
                    </div>
                    <P>ما نظرات کاربران خود را جمع‌آوری می‌کنیم تا بتوانید نظری صادقانه در مورد تجربه واقعی وب‌سایت ما داشته باشید. ما نظرات کاربران خود را جمع‌آوری می‌کنیم، بنابراین می‌توانید نظر صادقانه‌ای در مورد تجربه اینجا لورم ایپسوم دریافت کنید.</P>
                    <div class="rating">
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                    </div>
                </div>
                <div class="testimonials-item">
                    <div class="content">
                        <div class="content-img">
                            <img src="~/MainTemplate/images/testimonials/testimonials-img3.jpg" alt="Images">
                            <div class="line1"></div>
                            <div class="line2"></div>
                        </div>
                        <h3>توماس آبدین</h3>
                        <span>مدیر شبکه</span>
                    </div>
                    <P>ما نظرات کاربران خود را جمع‌آوری می‌کنیم تا بتوانید نظری صادقانه در مورد تجربه واقعی وب‌سایت ما داشته باشید. ما نظرات کاربران خود را جمع‌آوری می‌کنیم، بنابراین می‌توانید نظر صادقانه‌ای در مورد تجربه اینجا لورم ایپسوم دریافت کنید.</P>
                    <div class="rating">
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <footer class="footer-area">
        <div class="container">
            <div class="footer-top pt-100 pb-70">
                <div class="row">
                    <div class="col-lg-3 col-sm-6 col-md-6">
                        <div class="footer-widget">
                            <div class="footer-logo">
                                <a href="index.html">
                                    <img src="~/MainTemplate/images/logo.png" class="footer-logo1" alt="Footer Logo"><img src="~/MainTemplate/images/logo-2.png" class="footer-logo2" alt="Footer Logo">
                                </a>
                            </div>
                            <ul class="footer-contact-list">
                                <li>
                                    <i class="ri-map-pin-line"></i>
                                    <div class="content">
                                        <a href="https://goo.gl/maps/muUSCY6FnusqhrGK9">
                                            ایران استان تهران میدان آزادی
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <i class="ri-mail-line"></i>
                                    <div class="content">
                                        <a href="mailto: hello@zoben.com"> hello@zoben.com</a>
                                    </div>
                                </li>
                                <li>
                                    <i class="ri-phone-line"></i>
                                    <div class="content">
                                        <a href="tel:+4471234567890">
                                            +44 4325 9878 5875
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-6 col-md-6">
                        <div class="footer-widget">
                            <h3>کارفرما</h3>
                            <ul class="footer-list">
                                <li>
                                    <a href="candidates-listing.html" target="_blank">
                                        مرور کاندیداها
                                    </a>
                                </li>
                                <li>
                                    <a href="dashboard.html" target="_blank">
                                        داشبورد کارفرمایان
                                    </a>
                                </li>
                                <li>
                                    <a href="dashboard-packages.html" target="_blank">
                                        بسته های شغلی
                                    </a>
                                </li>
                                <li>
                                    <a href="job-listing.html" target="_blank">
                                        مشاغل برجسته
                                    </a>
                                </li>
                                <li>
                                    <a href="post-job.html" target="_blank">
                                        ارسال آگهی
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-md-4">
                        <div class="footer-widget ps-5">
                            <h3>داوطلبان</h3>
                            <ul class="footer-list">
                                <li>
                                    <a href="job-listing.html" target="_blank">
                                        مرور مشاغل
                                    </a>
                                </li>
                                <li>
                                    <a href="candidate-dashboard-resume.html" target="_blank">
                                        ارسال رزومه
                                    </a>
                                </li>
                                <li>
                                    <a href="dashboard.html" target="_blank">
                                        داشبورد کاندیداها
                                    </a>
                                </li>
                                <li>
                                    <a href="job-listing.html" target="_blank">
                                        مرور دسته بندی ها
                                    </a>
                                </li>
                                <li>
                                    <a href="candidates-listing.html" target="_blank">
                                        فهرست داوطلبان
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-6 col-md-4">
                        <div class="footer-widget">
                            <h3>شرکت</h3>
                            <ul class="footer-list">
                                <li>
                                    <a href="about.html" target="_blank">
                                        درباره ما
                                    </a>
                                </li>
                                <li>
                                    <a href="contact.html" target="_blank">
                                        تماس با ما
                                    </a>
                                </li>
                                <li>
                                    <a href="terms-condition.html" target="_blank">
                                        قوانین و ضوابط
                                    </a>
                                </li>
                                <li>
                                    <a href="privacy-policy.html" target="_blank">
                                        حریم خصوصی
                                    </a>
                                </li>
                                <li>
                                    <a href="candidates-listing.html" target="_blank">
                                        فهرست کاندیداها
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-6 col-md-4">
                        <div class="footer-widget">
                            <h3>لینکهای سریع</h3>
                            <ul class="footer-list">
                                <li>
                                    <a href="job-listing.html" target="_blank">
                                        فهرست مشاغل
                                    </a>
                                </li>
                                <li>
                                    <a href="employers-listing.html" target="_blank">
                                        لیست کارفرما
                                    </a>
                                </li>
                                <li>
                                    <a href="post-job.html" target="_blank">
                                        ارسال شغل جدید
                                    </a>
                                </li>
                                <li>
                                    <a href="employers-listing.html" target="_blank">
                                        همه کارفرمایان
                                    </a>
                                </li>
                                <li>
                                    <a href="job-listing.html" target="_blank">
                                        مشاغل برجسته
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-area">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-7">
                        <div class="copy-right-text">
                            <p>کپی رایت © 1403 زوبن. تمام حقوق قالب محفوظ است. طراحی توسط <a href="#" target="_blank">Barat Hadian</a></p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-5">
                        <div class="copy-right-social-link">
                            <ul class="social-link">
                                <li>
                                    <a href="https://www.facebook.com/" target="_blank">
                                        <i class="ri-facebook-fill"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/" target="_blank">
                                        <i class="ri-instagram-fill"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/" target="_blank">
                                        <i class="ri-twitter-fill"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/" target="_blank">
                                        <i class="ri-linkedin-fill"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <script src="~/MainTemplate/js/jquery.min.js"></script>

    <script src="~/MainTemplate/js/bootstrap.bundle.min.js"></script>

    <script src="~/MainTemplate/js/jquery.magnific-popup.min.js"></script>

    <script src="~/MainTemplate/js/odometer.min.js"></script>

    <script src="~/MainTemplate/js/jquery.appear.min.js"></script>

    <script src="~/MainTemplate/js/meanmenu.min.js"></script>

    <script src="~/MainTemplate/js/metismenu.min.js"></script>

    <script src="~/MainTemplate/js/simplebar.min.js"></script>

    <script src="~/MainTemplate/js/dropzone.min.js"></script>

    <script src="~/MainTemplate/js/sticky-sidebar.min.js"></script>

    <script src="~/MainTemplate/js/tweenMax.min.js"></script>

    <script src="~/MainTemplate/js/owl.carousel.min.js"></script>

    <script src="~/MainTemplate/js/jquery.ajaxchimp.min.js"></script>

    <script src="~/MainTemplate/js/form-validator.min.js"></script>

    <script src="~/MainTemplate/js/contact-form-script.js"></script>

    <script src="~/MainTemplate/js/custom.js"></script>
</body>
</html>