@page
@model SangaghakRazorEndPoint.Areas.Public.Pages.IndexModel
@{
}
@using SangaghakRazorEndPoint
@namespace SangaghakRazorEndPoint.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@section Header
{
    <div class="desktop-nav desktop-nav-one nav-area">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-md navbar-light ">
                <a class="navbar-brand" href="index.html">
                    <img src="~/MainTemplate/images/logo.png" class="logo-one" alt="logo"><img src="~/MainTemplate/images/logo-2.png" class="logo-two" alt="Logo">
                </a>
                <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active">
                                خانه
                                <i class="ri-arrow-down-s-line"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a asp-page="Index" class="nav-link">
                                        بازگشت به صفحه ی اصلی
                                    </a>
                                </li>
                            </ul>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a asp-page-handler="Redirect" class="nav-link">
                                        پروفایل کاربری
                                    </a>
                                </li>
                            </ul>

                        </li>
                    </ul>
                    <div class="others-options d-flex align-items-center">
                        <div class="optional-item">
                            <a asp-page="Login" class="default-btn two border-radius-5">ورود / ثبت نام <i class="ri-user-3-line"></i></a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="side-nav-responsive">
        <div class="container-max">
            <div class="dot-menu">
                <div class="circle-inner">
                    <div class="circle circle-one"></div>
                    <div class="circle circle-two"></div>
                    <div class="circle circle-three"></div>
                </div>
            </div>
            <div class="container">
                <div class="side-nav-inner">
                    <div class="side-nav justify-content-center align-items-center">
                        <div class="side-nav-item">
                            <a asp-page="Login" class="default-btn two">
                                ورود / ثبت نام <i class="ri-user-3-line"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


<div class="banner-area-three">
    <div class="container">
        <div class="banner-content-three">
            <h1 class="wow fadeInUp" data-wow-delay="000ms" data-wow-duration="1000ms">در جستجوی شغل؟ در جستجوی <b>بهترین شغل</b> نزدیکی شما.</h1>
            <div class="banner-form-three wow fadeInUp" data-wow-delay="100ms" data-wow-duration="1000ms">
                <form>
                    <div class="row">
                        <div class="col-lg-4 col-md-4">
                            <div class="form-group">
                                <input class="form-control" type="text" placeholder="کلمات کلیدی / عنوان شغلی">
                                <i class="ri-search-line"></i>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="form-group">
                                <input class="form-control" type="text" placeholder="شهر یا کد پستی">
                                <i class="ri-map-pin-line"></i>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <button type="submit" class="submit-btn border-radius-5">
                                جستجوی شغل
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="popular-searches-tag wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1000ms">
                <span class="title">جستجوهای محبوب : </span>
                <a href="job-listing.html">طراح</a>،
                <a href="job-listing.html">توسعه دهنده</a>،
                <a href="job-listing.html">وب</a>،
                <a href="job-listing.html">آیفون</a>،
                <a href="job-listing.html">موسس</a>،
                <a href="job-listing.html">کارشناس</a>،
                <a href="job-listing.html">مهندس</a>
            </div>
            <div class="banner-three-other">
                <div class="other-content1 wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1000ms">
                    <img src="~/MainTemplate/images/home-three/user2.jpg" alt="Images">
                </div>
                <div class="other-content2 wow fadeInUp" data-wow-delay="400ms" data-wow-duration="1000ms">
                    <img src="~/MainTemplate/images/home-three/home-three-icon2.png" alt="Images">
                </div>
                <div class="other-content3 wow fadeInDown" data-wow-delay="500ms" data-wow-duration="1000ms">
                    <img src="~/MainTemplate/images/home-three/user1.jpg" alt="Images">
                </div>
                <div class="other-content4 wow fadeInDown" data-wow-delay="600ms" data-wow-duration="1000ms">
                    <img src="~/MainTemplate/images/home-three/home-three-shape1.jpg" alt="Images">
                </div>
                <div class="other-content5 wow fadeInUp" data-wow-delay="700ms" data-wow-duration="1000ms">
                    <img src="~/MainTemplate/images/home-three/home-three-icon4.png" alt="Images">
                </div>
                <div class="other-content6 wow fadeInDown" data-wow-delay="800ms" data-wow-duration="1000ms">
                    <img src="~/MainTemplate/images/home-three/home-three-icon1.png" alt="Images">
                </div>
                <div class="other-content7 wow fadeInDown" data-wow-delay="900ms" data-wow-duration="1000ms">
                    <img src="~/MainTemplate/images/home-three/home-three-shape2.jpg" alt="Images">
                </div>
                <div class="other-content8 wow fadeInDown" data-wow-delay="1000ms" data-wow-duration="1000ms">
                    <img src="~/MainTemplate/images/home-three/user4.jpg" alt="Images">
                </div>
                <div class="other-content9 wow fadeInDown" data-wow-delay="1100ms" data-wow-duration="1000ms">
                    <img src="~/MainTemplate/images/home-three/user3.jpg" alt="Images">
                    <div class="other-into-content">
                        <img src="~/MainTemplate/images/home-three/home-three-shape1.jpg" alt="Images">
                    </div>
                </div>
                <div class="other-content10 wow fadeInDown" data-wow-delay="1200ms" data-wow-duration="1000ms">
                    <img src="~/MainTemplate/images/home-three/home-three-icon3.png" alt="Images">
                </div>
            </div>
        </div>
    </div>
</div>


<div class="browse-jobs-area-two pt-100 pb-70">
    <div class="container">
        <div class="section-title text-center">
            <h2>مرور دسته بندی های اصلی</h2>
            <div class="bar m-auto"></div>
        </div>
        <div class="row pt-45">
            @foreach (var Category in Model.Categories)
            {
                <div class="col-lg-3 col-6">
                    <div class="browse-jobs-item">
                        @if (Category.ImagePath != null)
                        {
                            <img src="@Category.ImagePath" alt="Images">
                        }
                        else
                        {
                            <i class="ri-computer-line jobs-card-bg"></i>
                        }
                        <h3><a asp-page="SeeCategoryDetails" asp-route-CategoryId="@Category.Id">@Category.Title</a></h3>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


<div class="job-post-area pt-100 pb-70">
    <div class="container">
        <div class="section-title text-center">
            <h2>شغل اخیر ارسال شده</h2>
            <div class="bar m-auto"></div>
            <p class="m-auto">ما نظرات کاربران خود را جمع‌آوری می‌کنیم تا بتوانید نظر صادقانه‌ای در مورد اینکه تجربه با وب‌سایت ما واقعاً چگونه است، دریافت کنید!</p>
        </div>
        <div class="row pt-45">
            <div class="col-lg-12">
                <div class="job-post-form">
                    <form>
                        <div class="row">
                            <div class="col-lg-4 col-md-4">
                                <div class="form-group">
                                    <input class="form-control" type="text" placeholder="کلمات کلیدی / عنوان شغلی">
                                    <i class="ri-search-line"></i>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4">
                                <div class="form-group">
                                    <input class="form-control" type="text" placeholder="شهر یا کد پستی">
                                    <i class="ri-map-pin-line"></i>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4">
                                <div class="form-group select-group">
                                    <select class="form-select form-control">
                                        <option data-display='Choose A Category'>یک دسته را انتخاب کنید</option>
                                        <option value="1">طراحی سایت</option>
                                        <option value="2">توسعه وب</option>
                                        <option value="2">توسعه دهنده</option>
                                        <option value="2">آژانس خلاق</option>
                                        <option value="3">مهندسی</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-12">
                                <button type="submit" class="submit-btn">
                                    شغل پیدا کنید
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="job-post-card job-post-card-ml">
                    <div class="job-post-img">
                        <a href="job-details.html">
                            <img src="~/MainTemplate/images/recent-job/recent-job4.jpg" alt="Images">
                        </a>
                    </div>
                    <h3><a href="job-details.html">طراح محصول</a></h3>
                    <div class="content">
                        <div class="content-item">
                            <ul class="content-list">
                                <li><i class="ri-briefcase-line"></i> طراحی</li>
                                <li><i class="ri-map-pin-line"></i> ایران استان تهران میدان آزادی</li>
                                <li><i class="ri-time-line"></i> ارسالی 5 روز پیش</li>
                            </ul>
                            <span>120 تا 130 تومان <b> / هفتگی</b></span>
                        </div>
                        <ul class="content-list2">
                            <li class="time">تمام وقت</li>
                            <li class="freelance">آزاد</li>
                            <li class="urgent">فوری</li>
                        </ul>
                    </div>
                    <button class="bookmark-btn"><i class="ri-bookmark-line"></i></button>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="job-post-card job-post-card-ml">
                    <div class="job-post-img">
                        <a href="job-details.html">
                            <img src="~/MainTemplate/images/recent-job/recent-job10.jpg" alt="Images">
                        </a>
                    </div>
                    <h3><a href="job-details.html">مدیر مالی و سلامت </a></h3>
                    <div class="content">
                        <div class="content-item">
                            <ul class="content-list">
                                <li><i class="ri-briefcase-line"></i> طراحی</li>
                                <li><i class="ri-map-pin-line"></i> ایران استان تهران میدان آزادی</li>
                                <li><i class="ri-time-line"></i> ارسالی 5 روز پیش</li>
                            </ul>
                            <span>120 تا 130 تومان <b> / هفتگی</b></span>
                        </div>
                        <ul class="content-list2">
                            <li class="time">تمام وقت</li>
                            <li class="freelance">آزاد</li>
                            <li class="urgent">فوری</li>
                        </ul>
                    </div>
                    <button class="bookmark-btn"><i class="ri-bookmark-line"></i></button>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="job-post-card job-post-card-ml">
                    <div class="job-post-img">
                        <a href="job-details.html">
                            <img src="~/MainTemplate/images/recent-job/recent-job11.jpg" alt="Images">
                        </a>
                    </div>
                    <h3><a href="job-details.html">حسابدار دفتر کل</a></h3>
                    <div class="content">
                        <div class="content-item">
                            <ul class="content-list">
                                <li><i class="ri-briefcase-line"></i> طراحی</li>
                                <li><i class="ri-map-pin-line"></i> ایران استان تهران میدان آزادی</li>
                                <li><i class="ri-time-line"></i> ارسالی 5 روز پیش</li>
                            </ul>
                            <span>120 تا 130 تومان <b> / هفتگی</b></span>
                        </div>
                        <ul class="content-list2">
                            <li class="time">تمام وقت</li>
                            <li class="freelance">آزاد</li>
                            <li class="urgent">فوری</li>
                        </ul>
                    </div>
                    <button class="bookmark-btn"><i class="ri-bookmark-line"></i></button>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="job-post-card job-post-card-ml">
                    <div class="job-post-img">
                        <a href="job-details.html">
                            <img src="~/MainTemplate/images/recent-job/recent-job12.jpg" alt="Images">
                        </a>
                    </div>
                    <h3><a href="job-details.html">مدیر بازاریابی گروه</a></h3>
                    <div class="content">
                        <div class="content-item">
                            <ul class="content-list">
                                <li><i class="ri-briefcase-line"></i> طراحی</li>
                                <li><i class="ri-map-pin-line"></i> ایران استان تهران میدان آزادی</li>
                                <li><i class="ri-time-line"></i> ارسالی 5 روز پیش</li>
                            </ul>
                            <span>120 تا 130 تومان <b> / هفتگی</b></span>
                        </div>
                        <ul class="content-list2">
                            <li class="time">تمام وقت</li>
                            <li class="freelance">آزاد</li>
                            <li class="urgent">فوری</li>
                        </ul>
                    </div>
                    <button class="bookmark-btn"><i class="ri-bookmark-line"></i></button>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="job-post-card job-post-card-ml">
                    <div class="job-post-img">
                        <a href="job-details.html">
                            <img src="~/MainTemplate/images/recent-job/recent-job5.jpg" alt="Images">
                        </a>
                    </div>
                    <h3><a href="job-details.html">توسعه اندروید</a></h3>
                    <div class="content">
                        <div class="content-item">
                            <ul class="content-list">
                                <li><i class="ri-briefcase-line"></i> طراحی</li>
                                <li><i class="ri-map-pin-line"></i> ایران استان تهران میدان آزادی</li>
                                <li><i class="ri-time-line"></i> ارسالی 5 روز پیش</li>
                            </ul>
                            <span>50 تا 60 تومان <b> / هفتگی</b></span>
                        </div>
                        <ul class="content-list2">
                            <li class="time">تمام وقت</li>
                            <li class="freelance">آزاد</li>
                            <li class="urgent">فوری</li>
                        </ul>
                    </div>
                    <button class="bookmark-btn"><i class="ri-bookmark-line"></i></button>
                </div>
            </div>
            <div class="col-lg-12 text-center">
                <div class="browse-btn">
                    <a href="job-listing.html"> همه پست های شغلی را مرور کنید <i class="ri-arrow-left-s-line"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="testimonials-area pt-100 pb-100">
    <div class="container">
        <div class="section-title text-center">
            <h2>نظرات کاربران ما</h2>
            <div class="bar m-auto"></div>
            <p class="m-auto">ما نظرات کاربران خود را جمع‌آوری می‌کنیم تا بتوانید نظر صادقانه‌ای در مورد اینکه تجربه با وب‌سایت ما واقعاً چگونه است، دریافت کنید!</p>
        </div>
        <div class="testimonials-slider owl-carousel owl-theme pt-45">
            <div class="testimonials-item">
                <div class="content">
                    <div class="content-img">
                        <img src="~/MainTemplate/images/testimonials/testimonials-img1.jpg" alt="Images">
                        <div class="line1"></div>
                        <div class="line2"></div>
                    </div>
                    <h3>توماس آبدین</h3>
                    <span>مدیر شبکه</span>
                </div>
                <P>ما نظرات کاربران خود را جمع‌آوری می‌کنیم تا بتوانید نظری صادقانه در مورد تجربه واقعی وب‌سایت ما داشته باشید. ما نظرات کاربران خود را جمع‌آوری می‌کنیم، بنابراین می‌توانید نظر صادقانه‌ای در مورد تجربه اینجا لورم ایپسوم دریافت کنید.</P>
                <div class="rating">
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                </div>
            </div>
            <div class="testimonials-item">
                <div class="content">
                    <div class="content-img">
                        <img src="~/MainTemplate/images/testimonials/testimonials-img2.jpg" alt="Images">
                        <div class="line1"></div>
                        <div class="line2"></div>
                    </div>
                    <h3>توماس آبدین</h3>
                    <span>مدیر شبکه</span>
                </div>
                <P>ما نظرات کاربران خود را جمع‌آوری می‌کنیم تا بتوانید نظری صادقانه در مورد تجربه واقعی وب‌سایت ما داشته باشید. ما نظرات کاربران خود را جمع‌آوری می‌کنیم، بنابراین می‌توانید نظر صادقانه‌ای در مورد تجربه اینجا لورم ایپسوم دریافت کنید.</P>
                <div class="rating">
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                </div>
            </div>
            <div class="testimonials-item">
                <div class="content">
                    <div class="content-img">
                        <img src="~/MainTemplate/images/testimonials/testimonials-img3.jpg" alt="Images">
                        <div class="line1"></div>
                        <div class="line2"></div>
                    </div>
                    <h3>توماس آبدین</h3>
                    <span>مدیر شبکه</span>
                </div>
                <P>ما نظرات کاربران خود را جمع‌آوری می‌کنیم تا بتوانید نظری صادقانه در مورد تجربه واقعی وب‌سایت ما داشته باشید. ما نظرات کاربران خود را جمع‌آوری می‌کنیم، بنابراین می‌توانید نظر صادقانه‌ای در مورد تجربه اینجا لورم ایپسوم دریافت کنید.</P>
                <div class="rating">
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                </div>
            </div>
        </div>
    </div>
</div>