@page
@model SangaghakRazorEndPoint.Areas.Public.Pages.SeeSubCategoryDetailsModel
@{
}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="HTML5,CSS3,HTML,Template,multi-page,Zoben - Job Board HTML Template">
    <meta name="description" content="Zoben - Job Board HTML Template">
    <meta name="author" content="Barat Hadian">

    <link rel="stylesheet" href="~/MainTemplate/css/bootstrap.rtl.min.css">

    <link rel="stylesheet" href="~/MainTemplate/css/animate.min.css">

    <link rel="stylesheet" href="~/MainTemplate/fonts/remixicon.css">

    <link rel="stylesheet" href="~/MainTemplate/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/MainTemplate/css/owl.theme.default.min.css">

    <link rel="stylesheet" href="~/MainTemplate/css/metismenu.min.css">

    <link rel="stylesheet" href="~/MainTemplate/css/simplebar.min.css">

    <link rel="stylesheet" href="~/MainTemplate/css/dropzone.min.css">

    <link rel="stylesheet" href="~/MainTemplate/css/magnific-popup.min.css">

    <link rel="stylesheet" href="~/MainTemplate/css/odometer.min.css">

    <link rel="stylesheet" href="~/MainTemplate/css/meanmenu.min.css">

    <link rel="stylesheet" href="~/MainTemplate/css/style.css">

    <link rel="stylesheet" href="~/MainTemplate/css/responsive.css">

    <link rel="stylesheet" href="~/MainTemplate/css/theme-dark.css">

    <link rel="stylesheet" href="~/MainTemplate/css/rtl.css">

    <title>Zoben - قالب HTML زوبن , پوسته سایت آگهی و کاریابی</title>

    <link rel="icon" type="image/png" href="~/MainTemplate/images/favicon.png">
</head>
<body>

    <div class="preloader">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="spinner"></div>
            </div>
        </div>
    </div>


    <div class="navbar-area">
        <div class="mobile-responsive-nav">
            <div class="container-fluid">
                <div class="mobile-responsive-menu">
                    <div class="logo">
                        <a href="index.html">
                            <img src="~/MainTemplate/images/logo.png" class="logo-one" alt="logo"><img src="~/MainTemplate/images/logo-2.png" class="logo-two" alt="Logo">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="desktop-nav desktop-nav-one nav-area">
            <div class="container-fluid">
                <nav class="navbar navbar-expand-md navbar-light ">
                    <a class="navbar-brand" href="index.html">
                        <img src="~/MainTemplate/images/logo.png" class="logo-one" alt="logo"><img src="~/MainTemplate/images/logo-2.png" class="logo-two" alt="Logo">
                    </a>
                    <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    خانه
                                    <i class="ri-arrow-down-s-line"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a href="index.html" class="nav-link">
                                            صفحه اصلی - 1
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="index-2.html" class="nav-link">
                                            صفحه اصلی - 2
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="index-3.html" class="nav-link">
                                            صفحه اصلی - 3
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    شغل ها
                                    <i class="ri-arrow-down-s-line"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a href="job-listing.html" class="nav-link">فهرست مشاغل</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="post-job.html" class="nav-link">ارسال آگهی شغلی</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="job-details.html" class="nav-link">جزئیات مشاغل</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    کارفرمایان
                                    <i class="ri-arrow-down-s-line"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a href="employers-listing.html" class="nav-link">
                                            لیست کارفرمایان
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="employers-details.html" class="nav-link">
                                            جزئیات کارفرمایان
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="dashboard.html" class="nav-link">
                                            داشبورد کارفرمایان
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    داوطلبان
                                    <i class="ri-arrow-down-s-line"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a href="candidates-listing.html" class="nav-link">
                                            فهرست داوطلبان
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="candidates-details.html" class="nav-link">
                                            جزئیات داوطلبان
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="candidates-dashboard.html" class="nav-link">
                                            داشبورد داوطلبان
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    وبلاگ
                                    <i class="ri-arrow-down-s-line"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a href="blog-1.html" class="nav-link">
                                            وبلاگ شبکه ای
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="blog-2.html" class="nav-link">
                                            وبلاگ سایدبار - 1
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="blog-3.html" class="nav-link">
                                            وبلاگ سایدبار - 2
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="blog-details.html" class="nav-link">
                                            جزئیات وبلاگ
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item active">
                                <a href="#" class="nav-link">
                                    صفحات
                                    <i class="ri-arrow-down-s-line"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a href="about.html" class="nav-link">
                                            درباره ما
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="contact.html" class="nav-link">
                                            تماس با ما
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="testimonials.html" class="nav-link">
                                            بازخورد مشتریان
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="freelancer.html" class="nav-link">
                                            فریلنسر
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="dashboard-invoice.html" class="nav-link">
                                            صورتحساب ها
                                        </a>
                                    </li>
                                    <li class="nav-item active">
                                        <a href="#" class="nav-link">
                                            شرکت ها
                                            <i class="ri-arrow-down-s-line"></i>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li class="nav-item">
                                                <a href="company.html" class="nav-link">
                                                    فهرست شرکت ها
                                                </a>
                                            </li>
                                            <li class="nav-item active">
                                                <a href="company-details.html" class="nav-link">
                                                    جزئیات شرکت
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="search-job.html" class="nav-link">
                                                    جستجوی شغل
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="nav-item">
                                        <a href="pricing.html" class="nav-link">
                                            پلن قیمت گذاری
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="pricing.html" class="nav-link">
                                            پلن قیمت گذاری
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="faq.html" class="nav-link">
                                            سوالات متداول
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="log-in-register.html" class="nav-link">
                                            ورود / ثبت نام
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="forgot-password.html" class="nav-link">
                                            فراموشی گذرواژه
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="terms-condition.html" class="nav-link">
                                            قوانین و ضوابط
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="privacy-policy.html" class="nav-link">
                                            حریم خصوصی
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="404.html" class="nav-link">
                                            صفحه 404
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="coming-soon.html" class="nav-link">
                                            صفحه به زودی
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <div class="others-options d-flex align-items-center">
                            <div class="optional-item">
                                <a href="log-in-register.html" class="default-btn two border-radius-5">ورود / ثبت نام <i class="ri-user-3-line"></i></a>
                            </div>
                            <div class="optional-item">
                                <a href="post-job.html" class="default-btn border-radius-5">ارسال آگهی <i class="ri-briefcase-2-line"></i></a>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <div class="side-nav-responsive">
            <div class="container-max">
                <div class="dot-menu">
                    <div class="circle-inner">
                        <div class="circle circle-one"></div>
                        <div class="circle circle-two"></div>
                        <div class="circle circle-three"></div>
                    </div>
                </div>
                <div class="container">
                    <div class="side-nav-inner">
                        <div class="side-nav justify-content-center align-items-center">
                            <div class="side-nav-item">
                                <a href="log-in-register.html" class="default-btn two">
                                    ورود / ثبت نام <i class="ri-user-3-line"></i>
                                </a>
                            </div>
                            <div class="side-nav-item">
                                <a href="post-job.html" class="default-btn">
                                    ارسال آگهی <i class="ri-briefcase-2-line"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="inner-banner">
        <div class="container">
            <div class="inner-title text-center">
                <h3>جزئیات شرکت </h3>
                <ul>
                    <li>
                        <a href="index.html">خانه</a>
                    </li>
                    <li>جزئیات شرکت </li>
                </ul>
            </div>
        </div>
    </div>


    <div class="company-details-area pt-100 pb-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="company-details-content">
                        <div class="company-details-preview mb-30">
                            <img src="~/MainTemplate/images/company/company-details-img1.jpg" alt="Images">
                        </div>
                        <div class="company-details-card box-shadow">
                            <img src="~/MainTemplate/images/recent-job/recent-job4.jpg" alt="Images">
                            <h3>جین مارت</h3>
                            <ul class="content-list">
                                <li><i class="ri-map-pin-line"></i>  ایران استان تهران میدان آزادی</b></li>
                                <li><i class="ri-question-answer-line"></i> <a href="contact.html">پیام مستقیم به ما</a></li>
                            </ul>
                        </div>
                        <div class="content mb-30">
                            <h3>درباره شرکت ما</h3>
                            <div class="bar"></div>
                            <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
                        </div>
                        <div class="content mb-30">
                            <h3>مرور اجمالی</h3>
                            <div class="bar"></div>
                            <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
                            <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
                        </div>
                        <div class="company-details-list">
                            <ul>
                                <li>شما حداقل 3 سال سابقه کار به عنوان طراح محصول دارید.</li>

                                <li>شما تجربه استفاده از Sketch و InVision یا Framer را دارید</li>

                                <li>شما تجربه قبلی کار در یک محیط چابک دارید - به دوی سرعت دو هفته ای فکر کنید.</li>

                                <li>با استفاده از Jira و Confluence در گردش کار خود آشنا هستید</li>

                                <li>کار خود را در جلسات Show & Tell به مشاغل گسترده‌تر ارائه دهید.</li>

                                <li>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</li>
                            </ul>
                        </div>
                        <div class="content">
                            <h3>افتخارات ما</h3>
                            <div class="bar"></div>
                            <div class="row justify-content-center">
                                <div class="col-lg-4 col-6 col-md-4">
                                    <div class="counter-item">
                                        <h3><span class="odometer" data-count="1400">0000</span></h3>
                                        <p>کارمندان</p>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-6 col-md-4">
                                    <div class="counter-item">
                                        <h3><span class="odometer" data-count="113">000</span></h3>
                                        <p> مجموع جوایز</p>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-6 col-md-4">
                                    <div class="counter-item">
                                        <h3>M<span class="odometer" data-count="5">0</span></h3>
                                        <p> میلیون فالوور</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="content mb-30">
                            <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
                            <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
                        </div>
                        <div class="article-social-icon">
                            <ul class="social-icon">
                                <li class="title">اشتراک گذاری پست</li>
                                <li>
                                    <a href="https://www.facebook.com/" target="_blank">
                                        <i class="ri-facebook-fill"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/" target="_blank">
                                        <i class="ri-instagram-fill"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/" target="_blank">
                                        <i class="ri-twitter-fill"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/" target="_blank">
                                        <i class="ri-linkedin-fill"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="company-details-portfolio">
                            <h3>نمونه کار ما</h3>
                            <div class="bar"></div>
                            <div class="row gallery-photo">
                                <div class="col-lg-3 col-6 col-md-3">
                                    <div class="company-details-portfolio-img">
                                        <a href="~/MainTemplate/images/blog/blog-details-img2.jpg">
                                            <img src="~/MainTemplate/images/blog/blog-details-img2.jpg" alt="Images">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-6 col-md-3">
                                    <div class="company-details-portfolio-img">
                                        <a href="~/MainTemplate/images/blog/blog-details-img3.jpg">
                                            <img src="~/MainTemplate/images/blog/blog-details-img3.jpg" alt="Images">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-6 col-md-3">
                                    <div class="company-details-portfolio-img">
                                        <a href="~/MainTemplate/images/blog/blog-details-img4.jpg">
                                            <img src="~/MainTemplate/images/blog/blog-details-img4.jpg" alt="Images">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-6 col-md-3">
                                    <div class="company-details-portfolio-img">
                                        <a href="~/MainTemplate/images/blog/blog-details-img5.jpg">
                                            <img src="~/MainTemplate/images/blog/blog-details-img5.jpg" alt="Images">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h3>ویدئوی معرفی</h3>
                        <div class="bar"></div>
                        <div class="company-details-play">
                            <a href="https://www.youtube.com/watch?v=Zd00oIDAt60" class="play-btn">
                                <i class="ri-play-circle-line"></i>
                            </a>
                        </div>
                        <h3>شغل های مرتبط</h3>
                        <div class="bar"></div>
                        <div class="col-lg-12">
                            <div class="recent-job-card box-shadow">
                                <div class="content">
                                    <div class="recent-job-img">
                                        <a href="job-details.html">
                                            <img src="~/MainTemplate/images/recent-job/recent-job5.jpg" alt="Images">
                                        </a>
                                    </div>
                                    <h3><a href="job-details.html">کارگردان خلاق</a></h3>
                                    <ul class="job-list1">
                                        <li><i class="ri-briefcase-line"></i> مشاغل خودروسازی</li>
                                        <li><i class="ri-time-line"></i> ارسال شده 2 ساعت پیش</li>
                                    </ul>
                                    <span><i class="ri-map-pin-line"></i> ایران استان تهران میدان آزادی</span>
                                </div>
                                <div class="job-sub-content">
                                    <ul class="job-list2">
                                        <li class="time">تمام وقت</li>
                                        <li class="freelance">آزاد</li>
                                    </ul>
                                    <div class="price">150 تا 180 تومان <b>/هر هفته</b></div>
                                </div>
                                <button class="bookmark-btn"><i class="ri-bookmark-line"></i></button>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="recent-job-card box-shadow">
                                <div class="content">
                                    <div class="recent-job-img">
                                        <a href="job-details.html">
                                            <img src="~/MainTemplate/images/recent-job/recent-job6.jpg" alt="Images">
                                        </a>
                                    </div>
                                    <h3><a href="job-details.html">حسابدار دفتر کل</a></h3>
                                    <ul class="job-list1">
                                        <li><i class="ri-briefcase-line"></i> حسابداری و مالی</li>
                                        <li><i class="ri-time-line"></i> ارسال شده 1 روز پیش</li>
                                    </ul>
                                    <span><i class="ri-map-pin-line"></i> ایران استان تهران میدان آزادی</span>
                                </div>
                                <div class="job-sub-content">
                                    <ul class="job-list2">
                                        <li class="time">تمام وقت</li>
                                        <li class="freelance">آزاد</li>
                                        <li class="internship">داخلی</li>
                                    </ul>
                                    <div class="price">150 تا 180 تومان <b>/هر هفته</b></div>
                                </div>
                                <button class="bookmark-btn"><i class="ri-bookmark-line"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="job-details-widget-side pl-20">
                        <div class="job-details-widget">
                            <h3 class="title">درباره شرکت</h3>
                            <div class="bar"></div>
                            <ul class="job-details-category">
                                <li>دسته بندی ها: <span>برنامه ها</span></li>
                                <li>ایجاد: <span>1986</span></li>
                                <li>کارمندان: <span>75</span></li>
                                <li>موقعیت: <span>نیویورک</span></li>
                                <li>شماره تلفن: <span>+44 7655 897987</span></li>
                                <li>ایمیل: <span>info@zoben.com</span></li>
                            </ul>
                            <div class="job-details-social">
                                <span>شبکه اجتماعی:</span>
                                <ul class="social-icon">
                                    <li>
                                        <a href="https://www.facebook.com/" target="_blank">
                                            <i class="ri-facebook-fill"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com/" target="_blank">
                                            <i class="ri-instagram-fill"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://twitter.com/" target="_blank">
                                            <i class="ri-twitter-fill"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.linkedin.com/" target="_blank">
                                            <i class="ri-linkedin-fill"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="job-details-web-btn">
                                <a href="#">www.zobencontact.com</a>
                            </div>
                        </div>
                        <div class="job-details-widget">
                            <h3 class="title">موقعیت شرکت</h3>
                            <div class="bar"></div>
                            <div class="job-details-map">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3012.3531005543196!2d-73.6960694852179!3d40.973748329498996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c290dc165bb96f%3A0x63af0a238a20fe90!2s5%20North%20St%2C%20Rye%2C%20NY%2010580%2C%20USA!5e0!3m2!1sen!2sbd!4v1625385308899!5m2!1sen!2sbd"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="employers-cv-area">
        <div class="container">
            <div class="employers-cv-bg">
                <div class="row align-items-center">
                    <div class="col-lg-8">
                        <div class="employers-cv-content">
                            <h2>اجازه دهید کارفرمایان شما را پیدا کنند</h2>
                            <div class="bar"></div>
                            <p>مشاغل خود را برای میلیون ها کاربر ماهانه تبلیغ کنید و 15.8 میلیون رزومه را در پایگاه داده ما جستجو کنید.</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="employers-cv-btn">
                            <a href="mailto: hello@zoben.com">بارگذاری رزومه</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <footer class="footer-area">
        <div class="container">
            <div class="footer-top pt-100 pb-70">
                <div class="row">
                    <div class="col-lg-3 col-sm-6 col-md-6">
                        <div class="footer-widget">
                            <div class="footer-logo">
                                <a href="index.html">
                                    <img src="~/MainTemplate/images/logo.png" class="footer-logo1" alt="Footer Logo"><img src="~/MainTemplate/images/logo-2.png" class="footer-logo2" alt="Footer Logo">
                                </a>
                            </div>
                            <ul class="footer-contact-list">
                                <li>
                                    <i class="ri-map-pin-line"></i>
                                    <div class="content">
                                        <a href="https://goo.gl/maps/muUSCY6FnusqhrGK9">
                                            ایران استان تهران میدان آزادی
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <i class="ri-mail-line"></i>
                                    <div class="content">
                                        <a href="mailto: hello@zoben.com"> hello@zoben.com</a>
                                    </div>
                                </li>
                                <li>
                                    <i class="ri-phone-line"></i>
                                    <div class="content">
                                        <a href="tel:+4471234567890">
                                            +44 4325 9878 5875
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-6 col-md-6">
                        <div class="footer-widget">
                            <h3>کارفرما</h3>
                            <ul class="footer-list">
                                <li>
                                    <a href="candidates-listing.html" target="_blank">
                                        مرور کاندیداها
                                    </a>
                                </li>
                                <li>
                                    <a href="dashboard.html" target="_blank">
                                        داشبورد کارفرمایان
                                    </a>
                                </li>
                                <li>
                                    <a href="dashboard-packages.html" target="_blank">
                                        بسته های شغلی
                                    </a>
                                </li>
                                <li>
                                    <a href="job-listing.html" target="_blank">
                                        مشاغل برجسته
                                    </a>
                                </li>
                                <li>
                                    <a href="post-job.html" target="_blank">
                                        ارسال آگهی
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-md-4">
                        <div class="footer-widget ps-5">
                            <h3>داوطلبان</h3>
                            <ul class="footer-list">
                                <li>
                                    <a href="job-listing.html" target="_blank">
                                        مرور مشاغل
                                    </a>
                                </li>
                                <li>
                                    <a href="candidate-dashboard-resume.html" target="_blank">
                                        ارسال رزومه
                                    </a>
                                </li>
                                <li>
                                    <a href="dashboard.html" target="_blank">
                                        داشبورد کاندیداها
                                    </a>
                                </li>
                                <li>
                                    <a href="job-listing.html" target="_blank">
                                        مرور دسته بندی ها
                                    </a>
                                </li>
                                <li>
                                    <a href="candidates-listing.html" target="_blank">
                                        فهرست داوطلبان
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-6 col-md-4">
                        <div class="footer-widget">
                            <h3>شرکت</h3>
                            <ul class="footer-list">
                                <li>
                                    <a href="about.html" target="_blank">
                                        درباره ما
                                    </a>
                                </li>
                                <li>
                                    <a href="contact.html" target="_blank">
                                        تماس با ما
                                    </a>
                                </li>
                                <li>
                                    <a href="terms-condition.html" target="_blank">
                                        قوانین و ضوابط
                                    </a>
                                </li>
                                <li>
                                    <a href="privacy-policy.html" target="_blank">
                                        حریم خصوصی
                                    </a>
                                </li>
                                <li>
                                    <a href="candidates-listing.html" target="_blank">
                                        فهرست کاندیداها
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-6 col-md-4">
                        <div class="footer-widget">
                            <h3>لینکهای سریع</h3>
                            <ul class="footer-list">
                                <li>
                                    <a href="job-listing.html" target="_blank">
                                        فهرست مشاغل
                                    </a>
                                </li>
                                <li>
                                    <a href="employers-listing.html" target="_blank">
                                        لیست کارفرما
                                    </a>
                                </li>
                                <li>
                                    <a href="post-job.html" target="_blank">
                                        ارسال شغل جدید
                                    </a>
                                </li>
                                <li>
                                    <a href="employers-listing.html" target="_blank">
                                        همه کارفرمایان
                                    </a>
                                </li>
                                <li>
                                    <a href="job-listing.html" target="_blank">
                                        مشاغل برجسته
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-area">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-7">
                        <div class="copy-right-text">
                            <p>کپی رایت © 1403 زوبن. تمام حقوق قالب محفوظ است. طراحی توسط <a href="#" target="_blank">Barat Hadian</a></p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-5">
                        <div class="copy-right-social-link">
                            <ul class="social-link">
                                <li>
                                    <a href="https://www.facebook.com/" target="_blank">
                                        <i class="ri-facebook-fill"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/" target="_blank">
                                        <i class="ri-instagram-fill"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/" target="_blank">
                                        <i class="ri-twitter-fill"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/" target="_blank">
                                        <i class="ri-linkedin-fill"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <script src="~/MainTemplate/js/jquery.min.js"></script>

    <script src="~/MainTemplate/js/bootstrap.bundle.min.js"></script>

    <script src="~/MainTemplate/js/jquery.magnific-popup.min.js"></script>

    <script src="~/MainTemplate/js/odometer.min.js"></script>

    <script src="~/MainTemplate/js/jquery.appear.min.js"></script>

    <script src="~/MainTemplate/js/meanmenu.min.js"></script>

    <script src="~/MainTemplate/js/metismenu.min.js"></script>

    <script src="~/MainTemplate/js/simplebar.min.js"></script>

    <script src="~/MainTemplate/js/dropzone.min.js"></script>

    <script src="~/MainTemplate/js/sticky-sidebar.min.js"></script>

    <script src="~/MainTemplate/js/tweenMax.min.js"></script>

    <script src="~/MainTemplate/js/owl.carousel.min.js"></script>

    <script src="~/MainTemplate/js/jquery.ajaxchimp.min.js"></script>

    <script src="~/MainTemplate/js/form-validator.min.js"></script>

    <script src="~/MainTemplate/js/contact-form-script.js"></script>

    <script src="~/MainTemplate/js/custom.js"></script>
</body>
</html>