@page
@model SangaghakRazorEndPoint.Areas.Expert.Pages.UpdateExpertSkillsModel
@{
}

@using App.Domain.Core.Sangaghak.Enum
@using SangaghakRazorEndPoint
@namespace SangaghakRazorEndPoint.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="row">
    <div class="col-xl-4">
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h4 class="card-title">وظایف من</h4>
                <div>
                    <a href="#!" class="btn btn-sm btn-primary">
                        <i class="bx bx-plus me-1"></i>ایجاد وظیفه
                    </a>
                </div>
            </div> <!-- end card-header-->
            <div class="card-body p-0 pb-3">
                <form method="post">
                    <!-- فرم برای submit -->
                    <div class="p-3" data-simplebar style="max-height: 386px;">
                        @foreach (var category in Model.AllSubCategories)
                        {
                            <div class="form-check form-todo py-1 my-2 ps-4">
                                <input type="checkbox"
                                       class="form-check-input rounded-circle mt-0 fs-18"
                                       name="SelectedSkillIds"
                                       value="@category.Id"
                                       @(Model.SelectedSkillIds.Contains(category.Id) ? "checked" : "")
                                       id="customCheck_@category.Id" />
                                <label class="form-check-label" for="customCheck_@category.Id">@category.Title</label>
                            </div>
                        }
                    </div>
                    <button type="submit" class="btn btn-primary">ثبت تغییرات</button>
                </form>
            </div> <!-- end card body -->
        </div> <!-- end card-->
    </div> <!-- end col-->
</div>