<div class="side-nav-responsive">
    <div class="container-max">
        <div class="dot-menu">
            <div class="circle-inner">
                <div class="circle circle-one"></div>
                <div class="circle circle-two"></div>
                <div class="circle circle-three"></div>
            </div>
        </div>
        <div class="container">
            <div class="side-nav-inner">
                <div class="side-nav justify-content-center align-items-center">
                    <div class="side-nav-item">
                        <a href="log-in-register.html" class="default-btn two">
                            ورود / ثبت نام <i class="ri-user-3-line"></i>
                        </a>
                    </div>
                    <div class="side-nav-item">
                        <a href="post-job.html" class="default-btn">
                            ارسال آگهی <i class="ri-briefcase-2-line"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
